In [ ]:
### we can convert one type value to another type value. This type of conversion is called 
## as type casting type coersion.
### The Following are the various inbuilt 
1.

In [1]:
### 1. Int
int(133456.789)

133456

In [4]:
int(10+5j)

TypeError: can't convert complex to int

In [3]:
int(True)

1

In [5]:
int(False)

0

In [1]:
a = "10"  ###  we know that 10 is an literal 10(base - 10)
a = int(a)
type(a)

int

In [9]:
a = "10.5"
a = int(a)
type(a)

ValueError: invalid literal for int() with base 10: '10.5'

In [2]:
int("0B1111")

ValueError: invalid literal for int() with base 10: '0B1111'

In [ ]:
##Note - 
1. We can convert rom any type to int except complex 
2. I we want convert str type to int type , Compulsary str should contain
only integral value and should be speciied in base-10

In [ ]:
2. Float

In [3]:
float(10)

10.0

In [10]:
float(10)

10.0

In [20]:
float(10+5j)

TypeError: can't convert complex to float

In [13]:
float(True)

1.0

In [14]:
float(False)

0.0

In [15]:
float("10.5")

10.5

In [16]:
float("Ten")

ValueError: could not convert string to float: 'Ten'

In [17]:
float("0B1111")

ValueError: could not convert string to float: '0B1111'

In [ ]:
## Note - 
1. We can convert any type of value to float type except complex type
2. whenever we are trying to convert str to float type compulsory str should be either integral (whole number)
or floating point literal and should be specified only in base-10

In [ ]:
3. Complex

In [4]:
complex(10)

(10+0j)

In [5]:
complex(10.5)

(10.5+0j)

In [6]:
complex(True)

(1+0j)

In [7]:
complex"Ten"

SyntaxError: invalid syntax (<ipython-input-7-7ef174fb1171>, line 1)

In [8]:
complex(10,2)

(10+2j)

In [10]:
complex(10, -2)

(10-2j)

In [9]:
complex(True, False)

(1+0j)

In [ ]:
4. Bool Data Type

In [11]:
bool(10)

True

In [12]:
bool(0+1.5)

True

In [ ]:
Bool Note :- 
    if x is int Data Type
    1. 0 means False 
    2. 1 means True
    
    if x is flot data type 
    1. If total number value is zero then the result is false or else its True
    
    if x is complex data type 
    1. if both real and imaginary part are 0 i.e 0+0j then result is False or else its True
    
    if x is a str data type 
    1. If x is empty str then the result is False else True

In [ ]:
5. str data type

In [13]:
str(10)

'10'

In [14]:
str(10.5)

'10.5'

In [15]:
str(10+5j)

'(10+5j)'

In [16]:
str(True)

'True'

In [17]:
str(False)

'False'

In [ ]:
Bytes data type

In [ ]:
Bytes data type basically represent a group of byte number just like an error 
It will basically convert you code to a byte Code (Byte code is a low level representation of your source code)

In [29]:
x = [10,20,30,100]
x, type(x)

([10, 20, 30, 100], list)

In [30]:
b = bytes(x)

In [22]:
type(b)

bytes

In [23]:
print(b[0])

10

In [24]:
for i in b:
    print(i)

10
20
30
50

In [ ]:
##### Note - The only allowed values for byte data type are 0 to 256(255)
Once we create bytes data type value, we cannot change the values, otherwise we will get type error.
#### Its Immutable

In [31]:
b[0] = 100

TypeError: 'bytes' object does not support item assignment

In [ ]:
Bytearray data type 
### Everything is same as byte data type except that its element can be modified

In [32]:
x

[10, 20, 30, 100]

In [33]:
b = bytearray(x)

In [34]:
b[0] = 100

In [35]:
for i in b:
    print(i)

100
20
30
100

In [ ]:
List

In [ ]:
### If we want to represent a group of values as a single entity where insertion order required
### To preserve and duplicate are allowed then we should go for list data type

Rules -
1. Insertion order is Preserved
2. Heterogenous Object are allowed 
3. Duplicated are allowed 
4. Growable in Nature 
5. The values should be enclosed in square bracket []
6. List is Mutable object - Values/Elements can be modified

In [41]:
l = [10,20,30,40,50]  ### L is a variable
l,type(l)

([10, 20, 30, 40, 50], list)

In [43]:
type(l[0]) ## Data Type

int

In [44]:
l = [12, 10.56,"Ram", True, (10+5j)] ## Hetrogenous data type can be preserved with order in list

In [45]:
type(l[4])

complex

In [51]:
l.append(58643)

In [52]:
l

[12, 10.56, 'Ram', True, (10+5j), 586431, 55879466422, 58643]

In [55]:
l[1] = 1500   #### List is a mutuable object

In [56]:
print(l)

[12, 1500, 'Ram', True, (10+5j), 586431, 55879466422, 58643]

In [ ]:
1. By using Index:

In [57]:
List follows zero based Index,i.e 1st element will be 0
It support both +ve(left to right), -ve(right to left)

SyntaxError: invalid syntax (<ipython-input-57-3741a5f6b025>, line 1)

In [58]:
list[start : stop : step]

NameError: name 'start' is not defined

In [59]:
n = [5,45,25,78,64,78]

In [60]:
print(n[2:7:3])

[25, 78]

In [61]:
print(n[4:100])

[64, 78]

In [63]:
print(n[8:2:-2])

[78, 78]

In [ ]:
### Transversy the element 0 list 
### Sequentially accessing each element in the list is called as transversal

In [64]:
n

[5, 45, 25, 78, 64, 78]

In [65]:
for i in n:
    print(i)

5
45
25
78
64
78

In [68]:
6%2   ## Remainder

0

In [82]:
if False:      ### If the condition is met
    print("Condition is True")

In [83]:
a = 10
b = 20

In [85]:
if a > b:
    print("Greater")
else:
    print("Not greater")

Not greater

In [73]:
###2. Can you write a program to display only even numbers
for i in n:
    if(i%2==0):
    print(i)

IndentationError: expected an indented block (<ipython-input-73-8d060962dcec>, line 4)

In [ ]:
#3. write a program to display elements by Index wise
n

In [88]:
x = len(n)

In [92]:
for i in range(x):
    print(n[i], i, "negative index",i-x )

5 0 negative index -6
45 1 negative index -5
25 2 negative index -4
78 3 negative index -3
64 4 negative index -2
78 5 negative index -1

In [94]:
range(8)

range(0, 8)

In [98]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [101]:
for i in range(10,20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [ ]:
### Some Important Functionalities of list
len()

In [ ]:
count()
It return the number of specified item occurance in the list

In [102]:
n.appentd(5)

AttributeError: 'list' object has no attribute 'appentd'

In [103]:
n

[5, 45, 25, 78, 64, 78]

In [104]:
n.count(6)

0

In [ ]:
3. Index()
Return the index of the occurance

In [109]:
n.index(25)

2

In [110]:
print(78 in n)

True

In [ ]:
#### Manupulating the element of the list

1. Append (append())

In [112]:
l = []

In [113]:
l

[]

In [116]:
l.append("Nitish")
l.append("KUKU")
l.append("Golu")
l

['Nitish', 'KUKU', 'Golu', 'Nitish', 'KUKU', 'Golu', 'Nitish', 'KUKU', 'Golu']

In [127]:
### Write a program to all the element to list upto 100 which are divisible by 10
Div10 =[]
for i in range(101):
    if i%10==0:
        Div10.append(i)
    #print(i)

In [128]:
print(Div10)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [131]:
l= [55,58]

In [132]:
l.extend(n)

In [130]:
l

['Nitish',
 'KUKU',
 'Golu',
 'Nitish',
 'KUKU',
 'Golu',
 'Nitish',
 'KUKU',
 'Golu',
 5,
 45,
 25,
 78,
 64,
 78]

In [ ]:
### Remove Unction

In [133]:
n.remove(78)

In [134]:
n

[5, 45, 25, 64, 78]

In [135]:
### Pop
### it removes and also return the last elementlist
n.pop()

78

In [139]:
n.pop(2)
n

[5, 45]

In [ ]:
#### Ordering element list

In [140]:
#### reverse()
n.reverse()
n

[45, 5]

In [141]:
#### Sort 
a = [25,85,46,79,65,49]
a.sort()
print(a)

[25, 46, 49, 65, 79, 85]

In [143]:
s = ["priya","Neha","praveen"]
s.sort(reverse = True)
print(s)

['priya', 'praveen', 'Neha']

In [144]:
## Copy
s1 = s.copy()
print(s1)

['priya', 'praveen', 'Neha']

In [ ]:
### Mathematical Operator in list
* to concatenate two list

In [145]:
a = [20,30,40,50,60]
b = [70,90,80,100]
c= a+b
print(c)
### Note Both should be list object

[20, 30, 40, 50, 60, 70, 90, 80, 100]

In [146]:
y = a*3
print(y)

[20, 30, 40, 50, 60, 20, 30, 40, 50, 60, 20, 30, 40, 50, 60]

In [148]:
### Comparision Operators
s = ["Kuku", "kavitha", "apple"]
s1 = ["supriya", "amit", "didi"]

In [149]:
print(s==s1)

False

In [151]:
print(s!=s1)

True

In [ ]:
### Note a comparision
whenever we are using comparision operators (==, !=) or list objects then this should be considered
1. The number of elements 
2. The order of elements
3. The contents of the elements(case sensetive)

In [152]:
### Membership Operator
In
Not in

SyntaxError: invalid syntax (<ipython-input-152-e09cb7eb981d>, line 3)

In [153]:
n = [10,50,46,59,45]
print(10 in n)

True

In [154]:
print(50 not in n)

False

In [155]:
## clear function
n

[10, 50, 46, 59, 45]

In [156]:
n.clear()

In [157]:
n

[]

In [161]:
#### Nested lists
n = [15,45,[67,82],56]
n

[15, 45, [67, 82], 56]

In [164]:
[46,456,789,[258, 'Nitish']]

[46, 456, 789, [258, 'Nitish']]

In [165]:
n[2][1]

82

In [ ]:
#### Tuple data structure

In [166]:
### Tuple is exactly same as list, expectit is immutabe.
Once we create tuple object we cannot change 
()

SyntaxError: invalid syntax (<ipython-input-166-50dbd068f28f>, line 2)

In [167]:
t = ()
t, type(t)

((), tuple)

In [168]:
t = 5,4,3,2,1
t

(5, 4, 3, 2, 1)

In [171]:
t[0] = 100

TypeError: 'tuple' object does not support item assignment

In [ ]:
#### mathematical operators
*AND*

In [172]:
t1 = (10,20,30)
t2 = (45,50,60)

t3 = t1+t2
t2

(45, 50, 60)

In [ ]:
## Inbuilt function in tuple

In [173]:
len(t1)

3

In [174]:
t1.count(10)

1

In [ ]:
index()
## It will return the 1st index of the accurance

In [175]:
t = (10,50,55,48,65,79)
t

(10, 50, 55, 48, 65, 79)

In [176]:
t.sorted()

AttributeError: 'tuple' object has no attribute 'sorted'

In [ ]:
min and max

In [177]:
min(t)

10

In [178]:
max(t)

79

In [179]:
list(range(0,19,45))

[0]

In [180]:
list(t)

[10, 50, 55, 48, 65, 79]