In [ ]:
#### Revise once

In [ ]:
## Java
public Class Hello world 
{
    psv main (String[]args)
    {
        SOP("Hello World");
    }
}

In [ ]:
## C 
voidmain()
{
    print("Hellow world");
}

In [1]:
## Python
print("Hellow World")

Hellow World

In [2]:
a= 10 
b= 20
c= a+b
print(c)

30

In [ ]:
#### Float Data Type 
 we can use float data type to represent floating point values (decimal values)

In [3]:
f = 1.234

In [4]:
type(f)

float

In [ ]:
#### We can also represent floating values by using exponential form (Scientifc Notation)

In [5]:
f = 1.2e3  #### we can represent big values in less memory

In [6]:
print(f)

1200.0

In [7]:
r = 1.3e5

In [8]:
print(r)

130000.0

In [ ]:
#### Note- we can represent int value in decimal, binary,octal, hexa decimal form. but 
#### we can represent float values only by using decimal form.

In [ ]:
#### Complex Data Type in python 
A complex number is in the form of -
Real Part Imaginary Part 
a + bj (j = sqrt(-1))/j2 = -1

In [ ]:
a and b in Complex data type contain integers or floating point values

In [10]:
a = 3 + 5j

In [11]:
type(a)

complex

In [13]:
p = 57 + 8.6j
q = 58 + 9.7j

In [14]:
r = p + q

In [15]:
print(r)

(115+18.299999999999997j)

In [ ]:
#### In python complex data type has some inbuilt function to retrive 
#### real and the imaginary part 
r = 15 + 5.2j

In [16]:
r.real

115.0

In [18]:
c.imag

0

In [ ]:
## we can use in complex type generally in scientif application another area electrical Engineering applications

In [ ]:
#### Bool Data Type (Logical)
### We use this data type to represent boolean values.
##### The only allowed values for this data type are
### True and False
#### Internally python represent True as 1 and False as 0

In [19]:
b = True
type(b)

bool

In [20]:
a = 12
b = 15
c = a>b
print(c)

False

In [21]:
#### Address - whenever you create a variable in python it store at a specific locations 
id(a)  #### Here id is a function to see the address of the variable

140705477437584

In [22]:
id(b)

140705477437680

In [23]:
True + True

2

In [24]:
True + False

1

In [ ]:
#### String Data Type

In [ ]:
#### A string is a sequence of character enclosed with single and double quotes

In [26]:
T = "Nitish" AS python indexse start from 0

In [ ]:
### Slice the strings 
slice  means a peice 
[] which is also called as slice operator , which can be used to retrieve a parts o string 
In python - Indexes start from 0

In [27]:
T[0]

'N'

In [28]:
T[5]

'h'

In [29]:
T[-1]

'h'

In [30]:
T[-5]

'i'

In [35]:
T[:]   #### : to represnt start and stop

'Nitish'

In [36]:
T[3:] #### : to represnt start (Inclusive) and stop (Exclusive) : Step

'ish'

In [37]:
s = "pythonisveryeasytolearn"

In [38]:
s[2:10:4]

'ti'

In [39]:
s[-10]  ##### Keeping this in mind

'a'

In [ ]:
#### Can you write a program to reverse the s variable from the back to the front

In [42]:
s [::-1]

'nraelotysaeyrevsinohtyp'

In [46]:
s[1:-25]

''

In [ ]:
#### Mathematical Operator in string

In [ ]:
1. + operator (Concatenation)
2. * operator (repetation)

In [47]:
"KuKu" + "Puchku"

'KuKuPuchku'

In [48]:
'KuKu'*5

'KuKuKuKuKuKuKuKuKuKu'

In [49]:
print("Priya" + "Neha")

PriyaNeha

In [ ]:
#### Note - For contatenation (+) compulsory both the string should be str data type 
#### To use * operator , compulsory one argument should be str other should be int

In [50]:
s

'pythonisveryeasytolearn'

In [51]:
len(s)

23

In [52]:
s[22]

'n'

In [53]:
##### For Loops (For iteration we use Loops)
s

'pythonisveryeasytolearn'

In [ ]:
##### Basic syntax for loop is 
for anyvariable in sequence :
    expressions

In [56]:
for x in s:
    print(x)

p
y
t
h
o
n
i
s
v
e
r
y
e
a
s
y
t
o
l
e
a
r
n

In [57]:
r = "Ranjna is a good girl"
print(r)

Ranjna is a good girl

In [58]:
for a in r :
    print(a)

R
a
n
j
n
a

i
s

a

g
o
o
d

g
i
r
l

In [ ]:
###### Can you write a program to print the index as well as the values of r variable

In [61]:
r[0]

'R'

In [66]:
i = 0 
for p in r:
    print(p,i)
    i = i+1

R 0
a 1
n 2
j 3
n 4
a 5
  6
i 7
s 8
  9
a 10
  11
g 12
o 13
o 14
d 15
  16
g 17
i 18
r 19
l 20

In [67]:
#### Can you write a program taking a variable of strings with length  20 and print both forward and 
#### backward string with its index

In [78]:
t = len(x) -1
print(t)

19

In [72]:
x = "Nitish is a cute guy"
print(x)

Nitish is a cute guy

In [79]:
for y in x[::-1]:
    print(y,t)
    t = t-1

y 19
u 18
g 17
  16
e 15
t 14
u 13
c 12
  11
a 10
  9
s 8
i 7
  6
h 5
s 4
i 3
t 2
i 1
N 0

In [ ]:
##### Checking membership in string 
### we can check whether the character or string is the member of another string

In [81]:
k ="Krishna Janmashtmi"

In [82]:
print('J' in k)

True

In [ ]:
### How will you take input from the user

In [83]:
i = input()  #### A inbuilt function in python for taking value from the user

Today

In [86]:
name = input("Enter your name - ") #### By default taking input is always string data type

Enter your name - Tulsi Pandey

In [88]:
type(name)

str

In [89]:
mobile_no = int(input("Enter your mobile number"))

Enter your mobile number88857207774

In [90]:
type(mobile_no)

int

In [ ]:
### Can you write a program to take from the user - name, address, age, phn no, print 
#### all the input properly with proper text

In [91]:
n = input("Enter your name - ")
print("The name of the user is", n)

Enter your name - Priya Pandey
The name of the user is Priya Pandey

In [92]:
n = input("Address - ")
print("The address of the user is", n)

Address - 99 Hostel, Ameerpet
The address of the user is 99 Hostel, Ameerpet

In [98]:
age = int(input("Enter your age in years -"))
print(f"The age is {age} years", n)  ### Formatted printing

Enter your age in years -25
The age is 25 years 5

In [99]:
n = input("Enter your phn no - ")
print("The phn no of the user is", n)

Enter your phn no - 8885720774
The phn no of the user is 8885720774

In [95]:
n = input("Enter your name - ")
print(f"{n} is good girl")

Enter your name - Pihu Dubey
Pihu Dubey is good girl

In [ ]:
##### Removing Spaces from the string 
1. rstrip() - To remove spaces from the right side
2. lstrip() - To remove spaces from the left side
3. strip() - To remove spaces from both sides

In [101]:
city = input("Enter your city name")
c = city.strip()
print(city)
print(c)

Enter your city nameHyderabad
Hyderabad
Hyderabad

In [ ]:
#### Replacing a string with a another string 
s.replace(oldstring, newstring)

In [102]:
s = "Learning Python is very easy"

In [105]:
s1 = s.replace("Python", "Java")
print(s)
print(s1)

Learning Python is very easy
Learning Java is very easy

In [ ]:
#### Splitting of string

In [ ]:
split(#### seprater)

In [110]:
s = "Python-software-foundation"

In [111]:
l = s.split(sep = '-')
print(l)

['Python', 'software', 'foundation']

In [ ]:
### Joining of Strings

In [ ]:
### We can join group of string (list of tuple) wrt to a given seprator

In [ ]:
#### Formatting of Strings

In [125]:
name = "Sudha"
salary = 250000
Age = 50

In [126]:
print("{}'s salary is {} and his age is {}".format(name, salary, Age))

Sudha's salary is 250000 and his age is 50

In [127]:
print("{1}'s salary is {0} and his age is {2}".format(name, salary, Age))

250000's salary is Sudha and his age is 50

In [ ]:
#### Assignment Deck with - Pdf

In [ ]:
##You have to build a form taking from the user - Exam form , Voter form
### You have a build a calculator

In [128]:
a = int(input("Enter 1st number"))
b = int(input("Enter 2nd number"))
c = a + b
print(f"The addition is {c}")

Enter 1st number45
Enter 2nd number65
The addition is 110

In [131]:
a = int(input("Enter 1st number"))
b = int(input("Enter 2nd number"))
c = a - b
print(f"The substraction is {c}")

Enter 1st number54
Enter 2nd number65
The substraction is -11

In [132]:
a = int(input("Enter 1st number"))
b = int(input("Enter 2nd number"))
c = a * b
print(f"The multiplication is {c}")

Enter 1st number45
Enter 2nd number69
The multiplication is 3105

In [133]:
a = int(input("Enter 1st number"))
b = int(input("Enter 2nd number"))
c = a / b
print(f"The Division is {c}")

Enter 1st number789
Enter 2nd number4
The Division is 197.25