# Story creator in python

In [1]:
When = ['yesterday','10 year Back', 'Last Night','Long Time ago']
Who = ['A Lizard','An Elephant','A Man','A Bird']
Name = ['Nitish','Tulsi','Golu','Neha']
Address = ['India','Spain','Italy','London']
Went = ['A Mall','to watch a sport Match','A Restaurant','A Library']
Happend = ['read book','made lots of friends','solved a mystery','find a secret key']

In [2]:
import random  ### This is a module in python which helps to randomly selects data(Random - Equal chance)

In [3]:
print(random.choice(When) + " " + random.choice(Who) + " named as " + random.choice(Name) + " lived in " + random.choice(Address) + " visited " + random.choice(Went) + " and " + random.choice(Happened))

NameError: name 'Happened' is not defined

# ATM Machine Generator

In [5]:
ATM cash = 1500000

if Atm_Cash != 0:

import times

print("Please Insert Your CARD")

password = 1997

balance = 50000
while True:
    pin = int(input("Enter your 4 Digit Pin"))

    if pin == password:
        print("""
        1 == Balance
        2 == Withdrawls
        3 == Deposit
        4 == Exit""")
    
        print("choose the option mentioned")
        option = int(input("Enter your choice - "))
    
        if option == 1:
            print(f'Your Current Balance is Rs {Balance}/-')
        if option == 2: 
            withdrawl_amount = float(input("Enter your Amount - "))
            balance = (balance - withdrawl_amount)
            print(f'The withdrawl Amount is Rs - {withdrawl_amount}/-')
            print(f"The Updated Balance Amount is Rs - {balance}/-")
        if option == 3:
            deposit_amount = float(input("Enter your Amount - "))
            balance = (balance + deposite_amount) 
            print(f"Rs. {deposite_amount}/ - is credited to your bank account")
            print(f"The Updated Balance amount is Rs - {balance}/-")
        if option == 4:
            print("Thank you for coming to the ATM")
    else:
            print("Incorrect pin")

SyntaxError: invalid syntax (<ipython-input-5-502168c9ecdd>, line 1)

In [ ]:
While Condition:
    statement

In [ ]:
i = 0
while i<=6:
    print(i)
    i = i+1

In [ ]:
##### Create a Calculater Also

### Data Structure - Set
If we want to represent a group of unique value as an single entity, then we can use set. 

Duplicates are not allowed 
Insertion order is not preserved. But we can sort the elements 
Hetrageneous elements are allowed 
Set Object are Mutuable
set are represent in {}
Can apply Mathematical Operation is Set

In [ ]:
s = {1,2,3}
type(s)

In [ ]:
### creation of set 
s = {10,20,30,40}

In [ ]:
s

In [ ]:
s = set([10,20,30,40])

In [ ]:
l = list(range(10))

In [ ]:
s = set(1)
s

In [ ]:
#### Important Function of set 
1.Add

In [ ]:
s
s.add(89)

In [ ]:
s

In [ ]:
2. Update

In [ ]:
s.update([12,18,20,80])

In [ ]:
s

In [ ]:
### Write a program to remove duplicates from list and print as list only

In [ ]:
3. Copy

In [ ]:
s

In [ ]:
s1 = s.copy()
s1

In [ ]:
l = (10,20,20,40,10,70,50,70)

In [ ]:
s = list(set(l))

In [ ]:
4.pop - #### It removes and return random element from the set

In [ ]:
s1.pop()

In [ ]:
s1

In [ ]:
##5. Remove
s1.remove(22)
s1

In [ ]:
##6. Discard 
s1.discard(89)
s1

In [ ]:
### Difference  between remove and discard in set is in remove if the element is not present it will throw an error, but in 
#### discard it wont throw any error

In [ ]:
s1.remove(100)

In [ ]:
s1.discard(100)

In [ ]:
### 7. clear()
s1.clear()
s1

In [ ]:
## Mathematical operation in set 
## 1. Union
we can return all the elements present in both the sets 
x.union(y) or x|y

In [ ]:
x = {10,20,30,40}
y = {30,40,50,60}

print(x.intersection(y))
print(x&y)

In [ ]:
### 3. Difference - return the element present in x but not in y
print(x.difference(y))
print(x-y)
print(y-x)

In [ ]:
#### 4. Symetric Difference - return elements present in either x or y but not in both 
print(x.symmetric_difference(y))
print(x^y)

In [ ]:
l = sorted(x,revere = True)

In [ ]:
set(l)

In [ ]:
l.add("Tulsi")

In [ ]:
l.add(100)

In [ ]:
l.add('Pihu')

In [ ]:
l

In [ ]:
### Membership operators
(in and not in)

In [ ]:
l

In [ ]:
print('Pihu' not in l)

In [ ]:
#### Write a program to print different vowels present in a given word. Also take the word from the user(a,e,i,o,u)

In [ ]:
w = input("Enter the word to find the vowel - ")
s = set(w)
print(s)
v = {'a','e','i','o','u'}
d = s.intersection(v)
print(:"The vowels are as",d)