In [1]:
#### Dictonary Data Structure 
### List, Tuple and Set represent a group of indivisual object with single entity
### If we want to represent a group of objecta as key and value pairs 
#### then we should go for Directory...


Duplicate keys are not allowed but values can be duplicated 
Hetrogenous object are allowed for both key and value
Insertion order is not preserved 
Dictionaries are mutable 
Dictonaries are dynamic
Indexing and slicing concepts are not applicable 
It represent by curly braces {} with key and value pair 
## Note:-In C++ and Java Dict concept are known as Map,In Ruby and pearl its known as Hash

SyntaxError: invalid syntax (<ipython-input-1-4322c99d7c5f>, line 7)

In [ ]:
d = {}
type(d)

In [ ]:
d[100] = "Nitish"
d[200] = "Priya"
d[300] = "Neha"

In [ ]:
print(d)

In [2]:
### How to access Data from the Dictionary
d

NameError: name 'd' is not defined

In [ ]:
d[200]

In [ ]:
d[400]

In [ ]:
## We can prevent this by checking whether the key is already available or not by using has_key() - python 2
#### Hence we have to use in operator to check

In [ ]:
if 400 in d:
    print(d[400])

In [ ]:
#### Write a program to enter name and percentage marks in a dict and display information on screen (Keep Trying)

In [ ]:
n=(input("Enter name of the student"))

In [ ]:
n=int(input("Enter percentage"))

In [ ]:
#### How to update your Dict
d

In [ ]:
d[400] = "Sudha"

In [ ]:
d

In [ ]:
### How to delete elements from dict
## del d[key]
del d[200]

In [ ]:
d

In [ ]:
d.clear()   ### will remove all the entries

In [ ]:
print(d)

In [ ]:
del d

In [ ]:
print(d)

In [ ]:
d

In [ ]:
#### Some Important Function

In [ ]:
1. dict()

In [ ]:
d = dict()
print(type(d))
print(d)

In [ ]:
d = dict({100:"kuku",200:"neha"})
print(d)

In [ ]:
len(d)

In [ ]:
### get()
## To get the values associated with keys

d.get(key)
#### if the key is available, then returns the valus otherwise return None =. It wont rise any error

In [ ]:
d.get(100)

In [ ]:
d.get(200,"neha")

In [ ]:
d.get(500)

In [ ]:
d[500]

In [ ]:
## 3. pop - d.pop(key)
## It will remove the entry associated with that key and returns the valus
d.pop(100)

In [ ]:
d.pop(400)

In [ ]:
#### popitem()
### It removes any arbitatry item (key and value) from dict and return it

In [ ]:
5. key()
## It will return all the keys associated with the dict

In [ ]:
f = {1:"A",2:"B",3:"C"}

In [ ]:
f.pop(3)

In [ ]:
f.clear()

In [ ]:
f.popitem()

In [ ]:
f

In [ ]:
5. key()
## It will return all the keys associated with the dict

In [ ]:
f = {1:"A",2:"B",3:"C"}

In [ ]:
f

In [ ]:
f.key()

In [ ]:
for i in f.key():
    print(i)

In [ ]:
6. values()
## Return all the values associated with the Dict

In [ ]:
f.values()

In [ ]:
for i in f.values():
    print(i)

In [ ]:
### Write a program  - Create a Dict of student name - A,B,C,D,E and different marks and different marks and iterate both students 
#### as well as marks,but format the print by giving = 
output - A = 20

In [3]:
for k in f.key():
    print(k)
    print(k,f[k])

NameError: name 'f' is not defined

In [1]:
f('B')

NameError: name 'f' is not defined

In [ ]:
7. item()  ### It returns list of tuples representing key and value pair

In [5]:
f.items()
dict_item([('A',1),('B',2),('C',3)])

NameError: name 'f' is not defined

In [ ]:
### Arthematic Operators
+ ==> Addition 
- ==>Substraction 
* ==>Multipication
/ ==>Division
% ==>Modulo operator (Reminder)
// ==> Floor Divison (Take the whole value 7.4(7),7.6(8)
**==> Exponenet Operatoror Power

In [1]:
a = 10 
b = 2

print(a+b,"Add")
print(a-b,"Substraction")
print(a*b,"Multiply")
print(a**b,"Exponent")
print(a/b,"Division")
print(a//b,"Floor Div")
print(a%b,"Modulo")

12 Add
8 Substraction
20 Multiply
100 Exponent
5.0 Division
5 Floor Div
0 Modulo

In [ ]:
#### 2. Relational Operator
>,<,>=,<=

In [2]:
a = 10 
b = 20
print(a>b,"Greater")
print(a<b,"Smaller")
print(a>=b, "Greater or equal to")
print(a<=b, "Less than or equal to")

False Greater
True Smaller
False Greater or equal to
True Less than or equal to

In [3]:
a = "priya"
b ="neha"

print(a>b,"Greater")
print(a<b,"Smaller")
print(a>=b, "Greater or equal to")
print(a<=b, "Less than or equal to")

True Greater
False Smaller
True Greater or equal to
False Less than or equal to

In [ ]:
### 3. Equality Operators
 ==, !=

In [4]:
10 == 20

False

In [5]:
False == False

True

In [6]:
10 != 20

True

In [7]:
True != False

True

In [ ]:
### 4. Logical Operators 
and , or , not 
## we can apply for all data types

In [ ]:
For bool type behaviours 
and -- if both arguments are the True then result is True
or -- if atleast one argument is True then the result is True
not -- Complement

In [8]:
True and False

False

In [9]:
True or False

True

In [10]:
not False

True

In [11]:
not True

False

In [ ]:
0 means False 
non - zero means is True 
empty string is always treated as False

In [12]:
10 and 20

20

In [13]:
0 and 20

0

In [ ]:
## if first argument is zero, then the result is zero otherwise result is y

In [14]:
10 or 20

10

In [15]:
0 or 20

20

In [ ]:
## if x evaluate to be True then the result is x otherwise y

In [ ]:
### 5. Bitwise Operators
&,|
### These operator is applicable only for int and boolean data types

In [16]:
print(4&5)

4

In [17]:
print(True&False)

False

In [ ]:
& == if both bits are 1 then only the results is 1 otherwise 0
| == if atleast one bits is 1 then the results is 1 otherwise 0

In [ ]:
### 6. Assignments Operators 
+=, -=, /=, %=, //=, **=, &=, |=

In [18]:
x = 10
x += 20
print(x)

30

In [20]:
x = 60
x = x+50

In [ ]:
##### 7. Ternary Operators
syntax - x = firstvalue if condition else second value

In [21]:
a,b = 10,20

In [23]:
x = 30 if a < b else 40
print(x)

30

In [24]:
## Write a program Read two number from user and print the min value
a = int(input("Enter the 1st no."))
b = int(input("Enter the 2nd no."))
min = a if a<b else b
print(min)

Enter the 1st no.12
Enter the 2nd no.15
12

In [ ]:
### write a program three numbers from user and print the min value

In [1]:
a = int(input("Enter the 1st no."))
b = int(input("Enter the 2nd no."))
c = int(input("Enter the 3rd no."))
min = a if a<b and a<c else b if b<c else c
print(min)

Enter the 1st no.5
Enter the 2nd no.6
Enter the 3rd no.4
4

In [ ]:
### 8. Special Operators 
1. Identity Operators 
2. Membership Operators

In [ ]:
Identity Operators - To address Comparision
is 
is not

In [ ]:
r1 and r2 returns True if both r1 and r2 are pointing the same object
r1 is not r2 returns True if both r1 and r2 are not pointing to the same object

In [2]:
a = 10
b = 20
print(a is b)

False

In [3]:
l = ['One','Two','Three']
l1 = ['one','two','Three']

In [4]:
print(l is l1)

False

In [ ]:
## 9. Membership Operators
in and not in

In [ ]:
in return True if the given object present in specific collection
not in returns True if the given object is not present in the specific collection

In [5]:
x = "learning python is very easy"
print('l' in x)

True

In [6]:
l = ["Sun", "Mon", "Tue", "Wed"]
print('Sunny' in l)

False

In [ ]:
###Flow Controls
Conditional Statments 
1. if
2. if - elif
3. if - elif-else

In [ ]:
Syntax-
if condition: statment
    or 
if condition
   statment1
    statment2

In [8]:
name = input("Enter Your Name")
if name == "Praveen":
    print(f"Hi {name}, Good Morning!!!")

Enter Your NamePraveen
Hi Praveen, Good Morning!!!

In [9]:
a = 10 
if a > 11:
    print("Greater")

In [10]:
if-else
if condition
   Action
else:
    Action

SyntaxError: invalid syntax (<ipython-input-10-4595d686f699>, line 1)

In [11]:
a = 10 
if a > 11:
    print("Greater")
else:
    print("A is smaller ")

A is smaller

In [ ]:
3. if-elif-else

In [15]:
brand = input("Enter your brand")
if brand == "KFC":
    print("The prices are high")
elif brand == "Dominos":
   print("Pizza on Time")
else:
    print("Other brand")

Enter your brandPizza Hut
Other brand

In [16]:
brand = input("Enter your brand")
if brand == "KFC":
    print("The prices are high")
elif brand == "Dominos":
   print("Pizza on Time")
else:
    print("Other brand")

Enter your brandDominos
Pizza on Time

In [ ]:
### Iterative Statments
while True :  ## It will always excute infinite time unless you break somewhere

In [ ]:
If we want to excute a group of statments multiple times python - for, while

In [ ]:
If we want to iterate a particular sequence - Use for loop for x in sequance :
    print.........

In [18]:
t = 0
x = "Nitish Sah"
for i in x:
    print(t,i)
    t +=1

0 N
1 i
2 t
3 i
4 s
5 h
6
7 S
8 a
9 h

In [ ]:
#### While Loops 
When you want to excute a certain condition, until some condition is False

In [19]:
x = 1 
while x <= 10:
    print(x)
    x += 1

1
2
3
4
5
6
7
8
9
10

In [24]:
#### Nested Loops 
for i in range(4): 
    for j in range(4): 
        print(i,j)
    print(i)

0 0
0 1
0 2
0 3
0
1 0
1 1
1 2
1 3
1
2 0
2 1
2 2
2 3
2
3 0
3 1
3 2
3 3
3

In [25]:
### write a program to display * in right angle traingle
*
**
***
****
*****

SyntaxError: invalid syntax (<ipython-input-25-9c81c8060bb8>, line 2)

In [32]:
n = 5
for i in range(1,n+1):
    print("*"*i)   ### Mathematical Operators to multiply string

*
**
***
****
*****

In [34]:
n = int(input("Enter the value: "))
for i in range(1,n+1):
    print("*"*i)

Enter the value: t

ValueError: invalid literal for int() with base 10: 't'

In [ ]:
### Pattern of the 1st letter of your names - S,P,H,R(Try to do manual)

In [ ]:
#### Transfer Statments -
1. break

In [35]:
for i in range(10):
    if i == 7:
        print("Processing is done, Now break")
        break
    print(i)

0
1
2
3
4
5
6
Processing is done, Now break

In [37]:
cart = [100,200,800,400,500]
for x in cart:
    if x >= 500:
        print("We can't Process this")
        continue
    print(x)

100
200
We can't Process this
400
We can't Process this